<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Gutterbox</title>
    <link rel="icon" type="image/x-icon" href="/static/media/favicon.svg">

    <!-- Bootstrap -->
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% block css %} {% endblock%}
  </head>
  <body>
    {% block main %}{% endblock %}
    {% block js %} {% endblock%}
  </body>
  <script src="/static/js/table.js"></script>
</html>