{% extends "base.html" %}

{% block main %}
<h2>GutterBox</h2>
<p style="padding-top:0;"><a href="https://github.com/d4rkr41n/gutterbox"><i>Organize your NMAP!</i></a></p>

<table class="scan-table">
<thead>
<tr class="table-header">
  <form method="POST">
    <input type="text" name="clientId" id="clientId" placeholder="Client Id" value="{{ clientId }}">
    <input type="submit" value="Submit Query" hidden>
    <th><input type="text" name="os" id="os" placeholder="OS" value="{{ os }}"></th>
    <th><input type="text" name="hostname" id="hostname" placeholder="HOSTNAME" value="{{ hostname }}"></th>
    <th><input type="text" name="address" id="address" placeholder="ADDRESS" value="{{ address }}"></th>
    <th><input type="text" name="ports" id="ports" placeholder="PORTS" value="{{ ports }}"></th>
  </form>
</tr>
</thead>
<tbody>

  {% for target in targets %}
    <tr>
      <td class='{{target.os|lower}}'><img onerror="this.onerror=null;this.src='static/media/unsure.png';" title="{{target.os}}" alt="{{target.os}}" src='static/media/{{target.os|lower}}.png'></td>
      <td>{{ target.hostname }}</td>
      <td>{{ target.address }}</td>
      <td>{{ target.ports[1:-1]|replace('|', ', ') }}</td>
    </tr>
  {% endfor %}

</tbody>
</table>
<div class='result-count'>{{targets|count}}</div>
{% endblock %}
